<ion-view title="{{'Replay Shout' | translate}}">
    <ion-content>
        <div class="list card">
            <a class="item item-avatar" href="#/users/{{post.author.id}}">
                <img ng-src="{{post.author.profilePhoto | profilePhotoUrl:post.author.gender}}">
                <h2>{{post.author.nickName}}</h2>
                <p>{{post.datePosted*1000 | amCalendar}}</p>
            </a>

            <div class="item item-body">
                <a ng-if="post.video" class="embed" href="https://{{post.video.link}}" target="_blank">
                    <img class="full-image" ng-src="{{post.video.thumbs[0]}}" alt="" />
                    <h4>{{post.video.title}}</h4>
                </a>
                <p ng-bind-html="post.body | linky:'_blank' | emoticonize"></p>
            </div>
        </div>

        <resource-collection list="comments">
            <a ng-repeat="comment in comments" class="item item-avatar" href="#/users/{{comment.author.id}}">
                <img ng-src="{{comment.author.profilePhoto | profilePhotoUrl:comment.author.gender}}">
                <h2>{{comment.author.nickName}}</h2>
                <p class="wrap">
                    <span class="status">
                        <span ng-if="comment.error" translate>Failed. Tap to retry.</span>
                        <span ng-if="!comment.error">
                            <span ng-if="!comment.datePosted" translate>Sending..</span>
                            <span ng-if="comment.datePosted">{{comment.datePosted*1000 | amCalendar}}</span>
                        </span>
                    </span><br />
                    <span ng-bind-html="comment.text | linky:'_blank' | emoticonize"></span>
                </p>
            </a>
        </resource-collection>
    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable">
        <form class="item-input-inset" ng-submit="sendComment()" style="width: 100%">
            <label class="item-input-wrapper">
                <input
                        type="text"
                        placeholder="{{'Write a comment...' | translate}}"
                        ng-model="newComment.text" />
            </label>
            <button class="button button-clear" type="submit" ng-disabled="newComment.text.length < 1" translate>
                Save Comment
            </button>
        </form>
    </ion-footer-bar>

</ion-view>