<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title" translate>Paskelbk draugams ka veiki</h1>
        <div class="buttons">
            <button class="button icon ion-android-close" ng-click="closePostComposer()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form class="list" ng-submit="submitPost()">
            <label class="item item-input item-floating-label">
                <span class="input-label" translate>Text</span>
                <textarea ng-model="modal.newPost.text" placeholder="{{'Text' | translate}}" required></textarea>
            </label>

            <div class="item item-toggle">
                <span translate>Friends only</span>
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="modal.newPost.onlyFriends">
                    <span class="track"><span class="handle"></span></span>
                </label>
            </div>

            <div class="padding">
                <button type="submit"
                        class="button button-block button-positive"
                        ng-disabled="!modal.newPost.text"
                        translate>
                    Send Shout
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>