<ion-view title="{{'ShoutBox' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="openPostComposer()"><i class="icon ion-compose"></i></button>
    </ion-nav-buttons>

    <ion-content class="wall">
        <resource-collection list="posts">
            <div class="list card" ng-repeat="post in posts">
                <a class="item item-avatar" href="#/users/{{post.author.id}}">
                    <img ng-src="{{post.author.profilePhoto | profilePhotoUrl:post.author.gender}}">
                    <h2>{{post.author.nickName}}</h2>
                    <p>{{post.datePosted*1000 | amCalendar}}</p>
                </a>

                <div class="item item-body">
                    <a ng-if="post.video" class="embed" href="https://{{post.video.link}}" parse-urls>
                        <img class="full-image" ng-src="{{post.video.thumbs[0]}}" alt="" />
                        <h4>{{post.video.title}}</h4>
                    </a>
                    <p ng-bind-html="post.body | linky | emoticonize" parse-urls></p>
                    <p>
                        <a href="#/chatRooms/{{chatRoom.id}}/posts/{{post.id}}" class="subdued" translate="%u comment" translate-plural="%u comments" translate-n="post.cntComments"></a>
                    </p>
                </div>

                <div class="item tabs tabs-secondary tabs-royal tabs-icon-left">
                    <a class="tab-item" href="#/chatRooms/{{chatRoom.id}}/posts/{{post.id}}">
                        <i class="icon ion-chatbox"></i>
                        <span translate>Replay Shout</span>
                    </a>
                    <!--<a class="tab-item" href="#">
                        <i class="icon ion-alert-circled"></i>
                        <span translate>Improper post</span>
                    </a>-->
                </div>
            </div>
        </resource-collection>
    </ion-content>
</ion-view>