<ion-view title="Wall">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="openPostComposer()"><i class="icon ion-compose"></i></button>
    </ion-nav-buttons>
    <ion-content>
        <resource-collection list="posts">
            <ion-refresher pulling-text="Pull to refresh.." on-refresh="doRefresh()"></ion-refresher>
            <div class="list card" ng-repeat="post in posts">
                <a class="item item-avatar" href="#/users/{{post.author.id}}">
                    <img ng-src="{{post.author.profilePhoto | profilePhotoUrl:post.author.gender}}">
                    <h2>{{post.author.nickName}}</h2>
                    <p>{{post.datePosted*1000 | amCalendar}}</p>
                </a>

                <div class="item item-body">
                    <p>{{post.body}}</p>
                    <p>
                        <a href="#" class="subdued">{{post.cntLikes}} Likes</a>
                        <a href="#" class="subdued">{{post.cntComments}} Comments</a>
                    </p>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                        <i class="icon ion-thumbsup"></i>
                        Like
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-chatbox"></i>
                        Comment
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-share"></i>
                        Share
                    </a>
                </div>
            </div>
        </resource-collection>
    </ion-content>
</ion-view>