<ion-view>
    <ion-content scroll="false" class="landing center-vertical">

        <img ng-src="img/logos/{{logoVariant}}.png" class="logo center" />
        <h2 translate>title_page_seo_keyword</h2>
        <h3 translate>homepage_intro_section_short</h3>

        <p class="icons">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
        </p>

    </ion-content>

    <ion-footer-bar class="bar-stable center">
        <button class="button button-calm" ng-click="loginWithFb()">
            <i class="icon ion-social-facebook"></i> Facebook
        </button>

        <button class="button button-clear" ng-click="showAltLoginMethods()" translate>Alternative login methods</button>
    </ion-footer-bar>
</ion-view>