<ion-view>
    <ion-content scroll="false" class="landing center center-vertical">

        <div class="intro">
            <img src="img/logos/logo-{{logoVariant}}.png" srcset="img/logos/logo-{{logoVariant}}.png 1x, img/logos/logo-{{logoVariant}}@2x.png 2x, img/logos/logo-{{logoVariant}}@3x.png 3x" alt="Hello" />

            <h3 class="all-caps" translate>title_page_seo_keyword</h3>
            <h4 translate>homepage_intro_section_short</h4>

            <p class="icons">
                <i class="icon-heart_1"></i>
                <i class="icon-heart_2"></i>
                <i class="icon-heart_3"></i>
                <i class="icon-heart_4"></i>
            </p>

            <div class="center">
                <div class="separator"></div>
            </div>
        </div>

        <div class="bar-content center padding">
            <h4 translate>Register or login with:</h4>
            <button class="button button-block button-calm" ng-click="loginWithFb()">
                <i class="icon ion-social-facebook"></i> Facebook
            </button>

            <button class="button button-block button-stable" ng-click="showAltLoginMethods()" translate>Alternative login methods</button>
        </div>
    </ion-content>
</ion-view>