<ion-modal-view>
    <ion-header-bar class="bar-dark item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search-strong placeholder-icon"></i>
            <input type="search"
                   autofocus
                   placeholder="{{'Search' | translate}}"
                   ng-change="search()"
                   ng-model="input.searchQuery"
                   ng-model-options="{ debounce: 700 }" />
        </label>
        <button class="button icon ion-android-close" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <ion-spinner ng-show="searching"></ion-spinner>
            <li ng-if="currentSelection" ng-click="clearCurrent()" class="item item-stable item-button-right">
                {{currentSelection.label}}
                <button class="button">
                    <i class="icon ion-trash-b"></i>
                </button>
            </li>
            <li ng-click="onItemSelected($index)" class="item" ng-repeat="row in rows">{{row.label}}</li>
        </ul>
    </ion-content>
</ion-modal-view>