<ion-view title="{{'Notifications history' | translate}}">
    <ion-content>
        <resource-collection list="notifications">
            <ion-list>
                <ion-item ng-repeat="notification in notifications" class="item-notification" ng-class="'notification-' + notification.type">
                    <i class="icon"></i>
                    <p>{{notification.getBody()}}</p>
                </ion-item>
            </ion-list>
        </resource-collection>
    </ion-content>
</ion-view>