<ion-tabs class="tabs-icon-top tabs-dark">
    <ion-tab title="{{'Quickie' | translate}}" href="#/quickie" icon="ion-arrow-swap">
        <ion-nav-view name="quickieSwipe"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{'Who said YES to me' | translate}}" href="#/quickie/saidYes" icon="ion-thumbsup">
        <ion-nav-view name="quickieSaidYes"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{'My Matches' | translate}}" href="#/quickie/matches" icon="ion-person-stalker">
        <ion-nav-view name="quickieMatches"></ion-nav-view>
    </ion-tab>
</ion-tabs>