<ion-view title="{{'Quickie' | translate}}">
    <ion-content scroll="false" class="quickie">
        <td-cards delegate-handle="members" ng-hide="!currUser.profilePhoto">
            <div ng-if="!error" ng-repeat="user in users">
                <td-card
                     on-destroy="onCardDestroyed($index)"
                     on-partial-swipe="onCardMove(amt)"
                     on-snap-back="onSnapBack($index)"
                     ng-hide="!firstPhotoLoaded || !user.loadedFully">
                    <img ng-src="{{user.profilePhoto | profilePhotoUrl:user.gender}}" imgonload="onPhotoLoaded(user, $index)" alt="" />
                    <span ng-if="$index == 0">
                        <label class="quickie-yes" ng-style="{opacity: cardPos > 0 ? cardPos : 0}" translate>Yes</label>
                        <label class="quickie-no" ng-style="{opacity: cardPos < 0 ? cardPos*-1 : 0}" translate>No</label>
                    </span>
                </td-card>
            </div>

            <ion-spinner ng-show="!error && !noMore && (!firstPhotoLoaded || photosTotal > photosLoaded)"></ion-spinner>
            <div ng-if="!error && user.length <= 0" class="error-sign">
                <span translate>No more members to display. Try coming back tomorrow.</span>
                <i class="icon ion-ios-rainy"></i>
            </div>

            <div class="center" ng-if="error">
                <div class="error-sign">
                    <span>{{error.message}}</span>
                    <i class="icon {{error.icon}}"></i>
                    <button class="button button-block {{action.class || 'button-stable'}}" ng-repeat="action in error.actions" ng-click="action.onClick()">{{action.label}}</button>
                </div>
            </div>
        </td-cards>

        <div class="center center-vertical-margin error-sign" ng-if="!currUser.profilePhoto">
            <span translate>no_photo_uploaded</span>
            <i class="icon ion-images"></i>
            <a href="#/settings/albums" class="button button-positive" translate>Upload photo</a>
        </div>

        <div class="navigation" ng-hide="!currUser.profilePhoto" ng-disabled="!users[0] || !users[0].loadedFully">
            <span>
                <button class="icon ion-close-round no" ng-click="sayNo()"></button>
            </span>
            <div class="small">
                <span><button class="icon ion-person user" ng-click="openProfile()"></button></span>
                <span><button class="icon ion-ios-chatbubble sms" ng-click="openChat()"></button></span>
            </div>
            <span>
                <button class="icon ion-heart yes" ng-click="sayYes()"></button>
            </span>
        </div>
    </ion-content>
</ion-view>