<ion-view title="{{'Quickie' | translate}}">
    <ion-content scroll="false" class="quickie">
        <td-cards delegate-handle="members">
            <ion-spinner ng-show="!noMore && (!firstPhotoLoaded || photosTotal > photosLoaded)"></ion-spinner>
            <div class="error-sign" ng-if="noMore">
                <span translate>No more members to display. Try coming back tomorrow.</span>
                <i class="icon ion-ios-rainy"></i>
            </div>
            <div ng-repeat="user in users">
                <td-card
                     on-destroy="onCardDestroyed($index)"
                     on-partial-swipe="onCardMove(amt)"
                     on-snap-back="onSnapBack($index)"
                     ng-hide="!firstPhotoLoaded || !user.loadedFully">

                    <img ng-src="{{user.profilePhoto | profilePhotoUrl:user.gender}}" imgonload="onPhotoLoaded(user, $index)" alt="" />
                    <span ng-if="$index == 0">
                        <label class="quickie-yes" ng-style="{opacity: cardPos > 0 ? cardPos : 0}" translate>Yes</label>
                        <label class="quickie-no" ng-style="{opacity: cardPos < 0 ? cardPos*-1 : 0}" translate>No</label>
                    </span>
                </td-card>
            </div>
        </td-cards>

        <div class="navigation">
            <span>
                <button class="icon ion-close-round no" ng-click="sayNo()" ng-disabled="!firstPhotoLoaded"></button>
            </span>
            <span class="small">
                <button class="icon ion-person user" ng-click="openProfile()" ng-disabled="!firstPhotoLoaded"></button>
                <button class="icon ion-ios-chatbubble sms" ng-click="openChat()" ng-disabled="!firstPhotoLoaded"></button>
            </span>
            <span>
                <button class="icon ion-heart yes" ng-click="sayYes()" ng-disabled="!firstPhotoLoaded"></button>
            </span>
        </div>
    </ion-content>
</ion-view>