<ion-view title="{{'Quickie' | translate}}">
    <ion-content scroll="false" class="quickie">
        <td-cards delegate-handle="members" ng-hide="!currUser.profilePhoto">
            <td-card
                 ng-repeat="user in users"
                 ng-hide="!firstPhotoLoaded || !user.loadedFully"
                 on-destroy="onCardDestroyed($index)"
                 on-partial-swipe="onCardMove(amt)"
                 on-snap-back="onSnapBack($index)"
            >
                <img ng-src="{{user.profilePhoto | profilePhotoUrl:user.gender}}" imgonload="onPhotoLoaded(user, $index)" alt="" />
                <span ng-if="$index == 0">
                    <label class="quickie-yes" ng-style="{opacity: cardPos > 0 ? cardPos : 0}" translate>Yes</label>
                    <label class="quickie-no" ng-style="{opacity: cardPos < 0 ? cardPos*-1 : 0}" translate>No</label>
                </span>
            </td-card>

            <ion-spinner ng-show="!error && !noMore && (!firstPhotoLoaded || photosTotal > photosLoaded)"></ion-spinner>

            <div class="center" ng-if="!error && users.length <= 0">
                <div class="center-vertical-margin error-sign">
                    <span translate>No more members to display. Try coming back tomorrow.</span>
                    <i class="icon ion-ios-rainy"></i>
                </div>
            </div>

            <div class="center" ng-if="error">
                <div class="center center-vertical-margin error-sign">
                    <span>{{error.message}}</span>
                    <i class="icon {{error.icon}}"></i>
                    <button class="button button-block {{action.class || 'button-stable'}}" ng-repeat="action in error.actions" ng-click="action.onClick()">{{action.label}}</button>
                </div>
            </div>
        </td-cards>

        <div ng-if="!currUser.profilePhoto" class="center center-vertical-margin error-sign">
            <span translate>no_photo_uploaded</span>
            <i class="icon ion-images"></i>
            <a href="#/settings/albums" class="button button-positive" translate>Upload photo</a>
        </div>

        <div class="navigation-wrap" ng-if="currUser.profilePhoto">
            <div class="navigation-container">
                <div class="navigation" ng-disabled="!users[0] || !users[0].loadedFully">
                    <button class="icon icon-cancel no" ng-click="sayNo()"></button>
                    <button class="icon icon-heart yes" ng-click="sayYes()"></button>
                </div>
                <div class="small">
                    <span class="left">
                        <button ng-disabled="!users[0] || !users[0].loadedFully" class="icon icon-gochat sms" ng-click="openChat()"></button>
                    </span>
                    <span class="right">
                        <button ng-disabled="!users[0] || !users[0].loadedFully" class="icon icon-profile user" ng-click="openProfile()"></button>
                    </span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>