<ion-tabs class="tabs-icon-top tabs-dark">
    <ion-tab title="Swipe" href="#/quickie" icon="ion-arrow-swap">
        <ion-nav-view name="quickieSwipe"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Wants to meet me" href="#/quickie/saidYes" icon="ion-thumbsup">
        <ion-nav-view name="quickieSaidYes"></ion-nav-view>
    </ion-tab>
    <ion-tab title="My matches" href="#/quickie/matches" icon="ion-person-stalker">
        <ion-nav-view name="quickieMatches"></ion-nav-view>
    </ion-tab>
</ion-tabs>