<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title" translate>Registration</h1>
        <div class="buttons">
            <button class="button" ng-click="registration.modal.hide()"><i class="icon ion-android-close"></i></button>
        </div>
    </ion-header-bar>
    <ion-content class="landing">
        <form novalidate class="list" name="registration.form" ng-submit="registration.submit()">
            <label class="item item-input item-stacked-label-padded">
                <input type="text" ng-model="registration.data.nickName" class="input" required autocomplete="nickname" placeholder="{{'Your login' | translate}}" />
            </label>

            <label class="item item-input item-stacked-label-padded">
                <input type="password" ng-model="registration.data.password" class="input" required placeholder="{{'Password' | translate}}" />
            </label>

            <label class="item item-input item-stacked-label-padded">
                <input type="email" ng-model="registration.data.email" class="input" required autocomplete="email" placeholder="{{'Email' | translate}}" />
            </label>

            <label class="item item-input item-stacked-label-padded">
                <input type="date" ng-model="registration.data.birthday" class="input" required autocomplete="birthday" placeholder="{{'Birthday' | translate}}"/>
            </label>

            <!--<label class="item item-input item-select item-stacked-label-padded">
                <span class="input-label" translate>Your country</span>
                <select ng-model="registration.data.country" ng-options="countryId as countryName for (countryId, countryName) in countries" class="input" required>
                </select>
            </label>-->

            <label class="item item-radio">
                <div class="item item-divider" translate>Your gender</div>
                <ion-radio ng-model="registration.data.gender" ng-value="'male'">
                    <span translate>a man</span>
                </ion-radio>
                <ion-radio ng-model="registration.data.gender" ng-value="'female'">
                    <span translate>a woman</span>
                </ion-radio>
            </label>
            <div class="rules center">{{'By registering you accept'}} <a ng-click="rules.modal.show()">{{'rules and regulations'}}</a></div>
            <div class="padding">
                <button
                        type="submit"
                        class="button button-block button-positive"
                        ng-disabled="registration.form.$invalid"
                        translate
                >
                    Register
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>