<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Create new profile</h1>
        <div class="buttons">
            <button class="button" ng-click="registration.modal.hide()"><i class="icon ion-android-close"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form class="list" name="registerForm" ng-submit="registration.submit()">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nick name</span>
                <input type="text" ng-model="registration.data.login" required />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" ng-model="registration.data.password" required />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">E-mail address</span>
                <input type="email" ng-model="registration.data.email" placeholder="me@domain.com" required />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Date of birth</span>
                <input type="date" ng-model="registration.data.birthday" required />
            </label>

            <label class="item item-input item-select item-stacked-label">
                <span class="input-label">Country</span>
                <select ng-model="registration.data.country" required>
                    <option ng-repeat="country in countries" value="{{country.id}}">{{country.label}}</option>
                </select>
            </label>

            <div class="item item-divider">Gender</div>
            <label class="item item-radio">
                <ion-radio ng-model="registration.data.gender" ng-value="'male'">Male</ion-radio>
                <ion-radio ng-model="registration.data.gender" ng-value="'female'">Female</ion-radio>
            </label>

            <div class="padding">
                <button
                        type="submit"
                        class="button button-block button-positive"
                        ng-disabled="registerForm.$invalid"
                >
                    Submit
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>