<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Create new profile</h1>
        <div class="buttons">
            <button class="button" ng-click="registration.modal.hide()"><i class="icon ion-android-close"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form class="list" ng-submit="registration.submit()">
            <label class="item item-input item-floating-label">
                <span class="input-label">Text</span>
                <textarea ng-model="registration.data.text" placeholder="Text" required></textarea>
            </label>

            <div class="item item-toggle">
                Only friends can see this post
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="modal.newPost.onlyFriends">
                    <span class="track"><span class="handle"></span></span>
                </label>
            </div>

            <div class="padding">
                <button type="submit" class="button button-block button-positive" ng-disabled="!registration.data.isValid">Submit</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>