<ion-list>
    <ion-radio ng-model="report.reason" ng-value="'fakeAccount'"><span translate>Fake account</span></ion-radio>
    <ion-radio ng-model="report.reason" ng-value="'fakePhoto'"><span translate>Fake photo</span></ion-radio>
    <ion-radio ng-model="report.reason" ng-value="'sexualHarassment'"><span translate>Sexual harassment</span></ion-radio>
    <ion-radio ng-model="report.reason" ng-value="'threat'"><span translate>Threat</span></ion-radio>
    <ion-radio ng-model="report.reason" ng-value="'harassment'"><span translate>Harassment</span></ion-radio>
    <ion-radio ng-model="report.reason" ng-value="'spam'"><span translate>Spammer</span></ion-radio>
</ion-list>