<ion-view title="{{'VIP Membership' | translate}}">
    <ion-content>
        <div ng-if="currUser.isVip" class="center padding">
            <span translate>Your VIP membership expires on</span>:
            <h4 class="center positive">{{currUser.vipTill}}</h4>
        </div>

        <div ng-if="!currUser.isVip" class="center padding">
            <img src="img/buy-vip.png" alt="" />

            <p ng-if="!billingSupported" translate="If you want to become a VIP member - please visit us at %s" translate-values="{url: fallbackVipPurchaseUrl}" class="padding" parse-urls></p>

            <div ng-if="billingSupported" class="padding center">
                <div ng-repeat="option in purchaseOptions">
                    <button ng-click="purchase(option.id)" class="button button-block button-positive">{{option.label}}</button>
                    <p translate="Subscription costs %s for %s days. It is renewed automatically." translate-values="{cost: option.cost, days: option.numDays}"></p>
                </div>

                <div translate>Iškilus klausimam ar nesklandumam kreipkitės:</div>
                <div translate>pagalba@xklubas.lt</div>
                <div>{{supportContacts}}</div>
            </div>
        </div>

    </ion-content>
</ion-view>