<ion-view title="{{'About me' | translate}}">
    <ion-content>
        <form ng-fab-form name="aboutMeForm" ng-submit="save()" novalidate>
            <div class="list list-inset">
                <div class="item item-divider" translate>My Profile</div>

                <label class="item item-input">
                    <span class="input-label" translate>Height</span>
                    <input type="number" ng-model="aboutMe.height" required />
                </label>

                <label ng-repeat="selectable in selectables" class="item item-input item-select">
                    <span class="input-label">{{selectable.label}}</span>
                    <select ng-model="aboutMe[selectable.id]">
                        <option ng-repeat="option in selectable.options" value="{{option.id}}">{{option.label}}</option>
                    </select>
                </label>
            </div>

            <ul class="list list-inset">
                <li class="item item-divider" translate>Looking for:</li>

                <li class="item item-checkbox">
                    <label class="checkbox"><input type="checkbox" ng-model="aboutMe.lookingFor[0]"></label>
                    <span translate>Looking for male</span>
                </li>

                <li class="item item-checkbox">
                    <label class="checkbox"><input type="checkbox" ng-model="aboutMe.lookingFor[1]"></label>
                    <span translate>Looking for female</span>
                </li>
            </ul>

            <ul class="list list-inset">
                <li class="item item-divider" translate>Purpose:</li>

                <li ng-repeat="purpose in purposes" class="item item-checkbox">
                    <label class="checkbox"><input type="checkbox" ng-model="aboutMe.purpose[purpose.id]"></label>
                    {{purpose.label}}
                </li>
            </ul>

            <div class="list list-inset">
                <div class="item item-divider" translate>About me:</div>
                <label class="item item-input">
                    <textarea rows="4" ng-model="aboutMe.description" placeholder="{{'Įrašyk pora sakinių apie save' | translate}}"></textarea>
                </label>
            </div>

            <div class="list list-inset">
                <div class="item item-divider" translate>Ideal man/woman:</div>
                <label class="item item-input">
                    <textarea rows="4" ng-model="aboutMe.perfectMatch" placeholder="{{'Koks tau yra idealus partneris?' | translate}}"></textarea>
                </label>
            </div>

            <div class="padding">
                <button class="button button-block button-positive" type="submit" ng-disabled="aboutMeForm.$invalid" translate>
                    Save
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>