<ion-view title="{{'About me' | translate}}">
    <ion-content>
        <form ng-fab-form name="aboutMeForm" ng-submit="save()" novalidate>
            <div class="list list-inset">
                <div class="item item-divider" translate>My Profile</div>

                <label class="item item-input">
                    <span class="input-label" translate>Height</span>
                    <input type="number" ng-model="aboutMe.height" required />
                </label>

                <label ng-repeat="selectable in selectables" class="item item-input item-select">
                    <span class="input-label">{{selectable.label}}</span>
                    <select
                            name="aboutMe.{{selectable.id}}"
                            ng-model="aboutMe[selectable.id]"
                            ng-options="optionId as optionLabel for (optionId, optionLabel) in selectable.options">
                    </select>
                </label>
            </div>

            <ul class="list list-inset">
                <li class="item item-divider" translate>Looking for:</li>

                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="aboutMe.lookingFor.male" />
                    </label>
                    <span translate>Looking for male</span>
                </li>

                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="aboutMe.lookingFor.female" />
                    </label>
                    <span translate>Looking for female</span>
                </li>
            </ul>

            <ul class="list list-inset">
                <li class="item item-divider" translate>Purpose:</li>

                <li ng-repeat="(purposeId, purposeLabel) in purposes" class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" name="aboutMe.purpose.{{purposeId}}" ng-model="aboutMe.purpose[purposeId]" />
                    </label>
                    {{purposeLabel}}
                </li>
            </ul>

            <div class="list list-inset">
                <div class="item item-divider" translate>About me:</div>
                <label class="item item-input">
                    <textarea
                            rows="4"
                            ng-model="aboutMe.about"
                            placeholder="{{'Įrašyk pora sakinių apie save' | translate}}">
                    </textarea>
                </label>
            </div>

            <div class="list list-inset">
                <div class="item item-divider" translate>Ideal man/woman:</div>
                <label class="item item-input">
                    <textarea
                            rows="4"
                            ng-model="aboutMe.idealPartner"
                            placeholder="{{'Koks tau yra idealus partneris?' | translate}}">
                    </textarea>
                </label>
            </div>

            <div class="padding">
                <button
                        type="submit"
                        class="button button-block button-positive"
                        ng-disabled="aboutMeForm.$pristine || aboutMeForm.$invalid"
                        translate>
                    Save changes
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>