<ion-view title="{{'User Settings' | translate}}">
    <ion-content class="settings user">
        <form ng-fab-form name="settings.form" ng-submit="save()" novalidate class="list list-inset">
            <label class="item item-input">
                <span class="input-label" translate>Username</span>
                <input type="text" value="{{currUser.nickName}}" disabled />
            </label>

            <label class="item item-input">
                <span class="input-label" translate>Your birthday</span>
                <input type="text" value="{{currUser.birthday}}" disabled />
            </label>

            <label class="item item-input item-select">
                <span class="input-label" translate>Your country</span>
                <select ng-options="country.label for country in countries track by country.id" ng-model="settings.country"></select>
            </label>

            <div class="item item-input">
                <span class="input-label" translate>City</span>
                <label class="input-item-wrapper"><input type="text" ng-model="settings.city" disabled /></label>
                <button type="button" class="button button-small button-positive" ng-click="modal.show()" translate>
                    Change
                </button>
            </div>

            <label class="item item-input">
                <span class="input-label" translate>Phone number</span>
                <input type="tel" ng-model="settings.profile.phone" minlength="5" />
            </label>

            <label class="item item-input">
                <span class="input-label" translate>Your email</span>
                <input type="email" ng-model="settings.email" required />
            </label>

            <div class="padding">
                <p class="center" translate>Your phone number and e-mail address are not shown to other members.</p>
                <button class="button button-block button-positive" type="submit" ng-disabled="settings.form.$pristine" translate>
                    Save
                </button>
            </div>
        </form>

        <form ng-fab-form name="passwordForm" ng-submit="changePassword()" class="list list-inset">
            <label class="item item-input">
                <span class="input-label" translate>Old Password</span>
                <input type="password" ng-model="password.old" required />
            </label>

            <label class="item item-input">
                <span class="input-label" translate>Password</span>
                <input type="password" ng-model="password.new" required />
            </label>

            <label class="item item-input">
                <span class="input-label" translate>Confirm Password</span>
                <input type="password" name="confirm" ng-model="password.confirm" ng-fab-match="password.new" required />
            </label>

            <div class="padding">
                <button class="button button-block button-positive" type="submit" ng-disabled="passwordForm.$invalid" translate>
                    Change Password
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>