<ion-view title="Settings">
    <ion-content>
        <div class="list list-inset">
            <a class="item item-avatar item-icon-right" href="#/settings/profile">
                <img ng-src="{{currentUser.profilePhoto | profilePhotoUrl:currentUser.gender}}">
                <h2>{{currentUser.login}}</h2>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item item-icon-right" href="#/settings/aboutMe">
                {{currentUser.profile.about || 'About me'}}
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>

        <div class="list list-inset">
            <a class="item item-icon-left item-icon-right" href="#/settings/photos">
                <i class="icon ion-camera"></i> Photos & albums
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/settings/credits">
                <i class="icon ion-card"></i> Credits
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/settings/realMember">
                <i class="icon ion-checkmark-circled"></i> Real member
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>

        <div class="list list-inset">
            <a class="item item-icon-left item-icon-right" href="#/settings/vip">
                <i class="icon ion-star"></i> Purchase VIP membership
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/settings/invisibility">
                <i class="icon ion-wand"></i> Invisibility
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>

    </ion-content>
</ion-view>