<ion-view title="{{'User Settings' | translate}}">
    <ion-content class="settings user">
        <form ng-fab-form name="settings.form" ng-submit="save()" novalidate class="list list-inset">
            <label class="item item-input">
                <span class="input-label" translate>Username</span>
                <input type="text" value="{{currUser.nickName}}" disabled />
            </label>

            <label class="item item-input">
                <span class="input-label" translate>Your birthday</span>
                <input type="text" value="{{currUser.birthday}}" disabled />
            </label>

            <label class="item item-input item-select">
                <span class="input-label" translate>Your country</span>
                <select
                        ng-model="settings.country"
                        ng-options="countryId as countryName for (countryId, countryName) in countries">
                </select>
            </label>

            <div class="item item-input item-input-with-action">
                <span class="input-label" translate>City</span>
                <div>
                    <input type="text" ng-model="settings.city" disabled />
                    <button type="button" class="button button-stable" ng-click="modal.show()" translate>
                        Change
                    </button>
                </div>
            </div>

            <div class="item item-input item-input-with-action">
                <span class="input-label" translate>Phone number</span>
                <div>
                    <input type="tel" ng-model="settings.profile.phoneNumber" required />
                    <div ng-if="currUser.profile.isPhoneNumberConfirmed" class="positive" translate></div>
                    <div ng-if="!currUser.profile.isPhoneNumberConfirmed && currUser.profile.phoneNumber" class="status assertive">
                        <label translate>Your phone number is unconfirmed.</label>
                        <button type="button" ng-click="confirmPhone()" class="button button-assertive" translate>
                            Confirm now.
                        </button>
                    </div>
                </div>
            </div>

            <div class="item item-input item-input-with-action">
                <span class="input-label" translate>Your email</span>
                <div>
                    <input type="email" ng-model="settings.email" required />
                    <div ng-if="currUser.profile.isEmailConfirmed" class="positive" translate></div>
                    <div ng-if="!currUser.profile.isEmailConfirmed && currUser.email" class="status assertive">
                        <label translate>We have previously sent you an e-mail, containing a confirmation link.</label>
                        <label translate translate-values="{name: '<span translate>Resend activation email.</span>'}">
                            If you haven't yet received the letter, please make sure, that the entered e-mail address is correct and then click %s.
                        </label>
                        <button type="button" ng-click="resendConfirmationEmail()" class="button button-assertive" translate>
                            Resend activation email.
                        </button>
                    </div>
                </div>
            </div>

            <div class="padding">
                <p class="center" translate>Your phone number and e-mail address are not shown to other members.</p>
                <button type="submit" class="button button-block button-positive" ng-disabled="settings.form.$pristine" translate>
                    Save
                </button>
            </div>
        </form>

        <form ng-fab-form name="passwordForm" ng-submit="changePassword()" class="list list-inset">
            <label class="item item-input">
                <span class="input-label" translate>Old Password</span>
                <input type="password" ng-model="password.old" required />
            </label>

            <label class="item item-input">
                <span class="input-label" translate>Password</span>
                <input type="password" ng-model="password.new" required />
            </label>

            <label class="item item-input">
                <span class="input-label" translate>Confirm Password</span>
                <input type="password" name="confirm" ng-model="password.confirm" ng-fab-match="password.new" required />
            </label>

            <div class="padding">
                <button class="button button-block button-positive" type="submit" ng-disabled="passwordForm.$invalid" translate>
                    Change Password
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>