<ion-view title="{{'VIP Membership' | translate}}">
    <ion-content>
        <div ng-if="currUser.isVip" class="center padding">
            <span translate>Your VIP membership expires on</span>:
            <h4 class="center positive">{{currUser.vipTill}}</h4>
        </div>

        <div ng-if="!currUser.isVip" class="center padding">
            <img src="img/buy-vip.png" alt="" />

            <p class="padding" parse-urls>Norėdami tapti VIP nariu - apsilankykite <a href="http://www.flirtas.lt">flirtas.lt</a></p>

            <!--<div ng-if="billingSupported">
                <ion-spinner ng-if="!subscribe"></ion-spinner>

                <div ng-if="subscribe" ng-repeat="option in purchaseOptions">
                    <button ng-click="option.buy()" class="button button-block button-positive" translate>Buy VIP membership</button>
                    <p translate="Subscription costs %s for %s days. It is renewed automatically." translate-values="{cost: option.cost, days: option.numDays}"></p>
                </div>
            </div>-->
        </div>

    </ion-content>
</ion-view>