<ion-view view-title="Photos & albums">
    <ion-content>
        <div class="photos">
            <input type="file" accept="image/*" id="file-picker">
            <button class="button" ng-click="openFilePicker()">
                Upload photo
            </button>

            <img ng-src="{{photo.url}}" alt="" ng-repeat="photo in photos" ng-click="photoOptions($index)" />
        </div>

        <div class="albums" ng-if="isMainAlbum">
            <button class="button" ng-click="createAlbum()">
                Create album
            </button>

            <a ng-repeat="album in albums" href="#/settings/photos/{{album.id}}">
                <img ng-src="{{album.thumbUrl}}" alt="" />
            </a>
        </div>
    </ion-content>
</ion-view>