<ion-view title="Settings">
    <ion-content>
        <div class="list list-inset">
            <a class="item item-avatar item-icon-right" href="#/settings/profile">
                <img ng-src="{{currUser.profilePhoto | profilePhotoUrl:currUser.gender}}">
                <h2>{{currUser.login}}</h2>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item item-icon-right" href="#/settings/aboutMe">
                {{currUser.profile.about || 'About me'}}
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>

        <div class="list list-inset">
            <a class="item item-icon-left item-icon-right" href="#/settings/albums">
                <i class="icon ion-camera"></i> Photos & albums
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/settings/credits">
                <i class="icon ion-card"></i> Credits
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/settings/realMember">
                <i class="icon ion-checkmark-circled"></i> Real member
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>

        <div class="list list-inset">
            <a class="item item-icon-left item-icon-right" href="#/settings/vip">
                <i class="icon ion-star"></i> {{currUser.isVip ? 'Extend my' : 'Purchase'}} VIP membership
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <div class="item item-toggle item-icon-left">
                <i class="icon ion-wand"></i> Invisibility
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-disabled="!currUser.isVip" ng-model="currUser.isInvisible" />
                    <span class="track"><span class="handle"></span></span>
                </label>
                <p class="wrap">
                    Will hide you from the guest list of the member profiles you visit.
                    <span ng-if="!currUser.isVip" class="royal">Only for VIP members</span>
                </p>
            </div>
        </div>

        <div class="padding">
            <button class="button button-block button-dark" ng-click="logout()">Logout</button>
        </div>

    </ion-content>
</ion-view>