<ion-view>
    <ion-nav-title>
        {{album.id ? album.name + ' &laquo; ' + ('My Albums' | translate) : ('My Pictures' | translate)}}
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <button ng-if="album.id > 0" class="button icon ion-trash-b" ng-click="deleteAlbum()"></button>
    </ion-nav-buttons>

    <ion-content scroll="false">
        <resource-collection list="photos">
            <div class="row row-wrap">
                <button class="thumb button button-brand button-upload">
                    <i class="icon ion-plus"></i>
                    <span translate>Upload File</span>
                    <input type="file" accept="image/*" on-file-chosen="upload" />
                </button>&nbsp;
                <span class="thumb"
                    ng-repeat="photo in photos | orderBy:'isMain':true"
                    ng-click="showOptionsFor(photo, $event)">

                    <img ng-src="{{photo.url}}" alt="" />
                    <span class="royal positive-bg" ng-if="photo.isMain" translate>Main</span>
                </span>
            </div>
        </resource-collection>

        <!--<p class="rules" translate>A list of forbidden images.</p>-->
    </ion-content>
</ion-view>