<ion-view>
    <ion-content scroll="false" class="profile">
        <div id="photos">
            <ion-slide-box show-pager="false" on-tap="toggleOverlays()" on-slide-changed="onPhotoChanged($index)">
                <ion-slide ng-repeat="photo in user.photos">
                    <img ng-src="{{photo.url}}"/>
                </ion-slide>
            </ion-slide-box>

            <div class="overlay top" ng-show="showUi && currentlyActiveTab == null">
                <i class="icon ion-camera"></i> {{currentPhoto+1}} / {{user.photos.length}}
            </div>

            <div class="overlay bottom" ng-show="showUi">
                <i class="icon ion-ios-location"></i> {{user.cityName}}
                <p class="about">{{user.profile.about}}</p>
            </div>
        </div>

        <div class="tabs tabs-dark tabs-icon-top tabs-striped tabs-top">
            <a ng-repeat="tab in tabs" class="tab-item" ng-click="toggleTab(tab.id)" ng-class="{active: currentlyActiveTab == tab.id}">
                <i class="icon ion-{{tab.icon}}"></i> {{tab.title}}
            </a>
        </div>

        <div class="tabs-content" ng-class="{open: currentlyActiveTab != null}">
            <ion-nav-view name="tabContent" ></ion-nav-view>
        </div>
    </ion-content>
</ion-view>