<ion-header-bar class="bar-dark">
    <h1 class="title">Find people</h1>
</ion-header-bar>
<ion-content>
    <div class="list">
        <ion-checkbox
                ng-checked="currUser.filter.onlyOnline"
                ng-click="currUser.filter.onlyOnline = !currUser.filter.onlyOnline">
            Online only
        </ion-checkbox>

        <div class="item item-divider">Gender</div>
        <ion-checkbox
                ng-repeat="type in lookingFor"
                ng-checked="currUser.filter.gender.indexOf(type) > -1"
                ng-click="currUser.filter.gender.toggleElement(type)">
            {{type | capitalizeFirst}}
        </ion-checkbox>

        <div class="item item-divider">Age</div>
        <label class="item item-input item-select">
            <span class="input-label">From</span>
            <select ng-model="currUser.filter.ageMin">
                <option
                        ng-repeat="i in ages"
                        ng-hide="i > currUser.filter.ageMax"
                        ng-selected="currUser.filter.ageMin == i"
                        value="{{i}}">
                    {{i}}
                </option>
            </select>
        </label>

        <label class="item item-input item-select">
            <span class="input-label">To</span>
            <select ng-model="currUser.filter.ageMax">
                <option
                        ng-repeat="i in ages"
                        ng-hide="i < currUser.filter.ageMin"
                        ng-selected="currUser.filter.ageMax == i"
                        value="{{i}}">
                    {{i}}
                </option>
            </select>
        </label>

        <div class="item item-divider">Location</div>
        <label class="item item-input item-select">
            <span class="input-label">Country</span>
            <select
                    ng-model="currUser.filter.country"
                    ng-options="country.id as country.label for country in countries">
            </select>
        </label>
    </div>
</ion-content>