<ion-view>
    <ion-nav-title translate>About me</ion-nav-title>
    <ion-content>
        <div class="list list-inset list-details">
            <div class="item item-divider">
                {{user.nickName}}
            </div>

            <div class="item item-input">
                <label translate>About me</label>
                <span>{{user.profile.about}}</span>
            </div>

            <div class="item item-input">
                <label translate>Looking for:</label>
                <span>{{user.profile.lookingFor | translateProfileVal:'lookingFor' | concat}}</span>
            </div>

            <div class="item item-input">
                <label translate>IdealPartner</label>
                <span>{{user.profile.idealPartner}}</span>
            </div>

            <div class="item item-input">
                <label translate>Height</label>
                <span>{{user.profile.height}}<span ng-if="user.profile.height">cm</span></span>
            </div>

            <div class="item item-input">
                <label translate>Status:</label>
                <span>{{user.profile.maritalStatus | translateProfileVal:'maritalStatus' | concat}}</span>
            </div>

            <div class="item item-input">
                <label translate>Purpose:</label>
                <span>{{user.profile.purpose | translateProfileVal:'purpose' | concat}}</span>
            </div>

            <div class="item item-input">
                <label translate>Languages</label>
                <span>{{user.profile.languages | translateProfileVal:'language' | concat}}</span>
            </div>

            <div class="item item-input">
                <label translate>Drinking</label>
                <span>{{user.profile.doesDrink | translateProfileVal:'doesDrink'}}</span>
            </div>

            <div class="item item-input">
                <label translate>Smoking</label>
                <span>{{user.profile.doesSmoke | translateProfileVal:'doesSmoke'}}</span>
            </div>

            <div class="item item-input">
                <label translate>Living</label>
                <span>{{user.profile.livesWith | translateProfileVal:'livesWith'}}</span>
            </div>

            <div class="item item-input">
                <label translate>Education</label>
                <span>{{user.profile.education | translateProfileVal:'education'}}</span>
            </div>

            <div class="item item-input">
                <label translate>Work</label>
                <span>
                    {{user.profile.employment | translateProfileVal:'employment'}}<span ng-if="user.profile.employmentIndustry">, {{user.profile.employmentIndustry}}</span>
                </span>
            </div>
        </div>
    </ion-content>
</ion-view>