<ion-header-bar class="bar-dark">
    <h1 class="title" translate>Filter</h1>
</ion-header-bar>
<ion-content class="main-menu">
    <div class="list list-dark">
        <ion-checkbox
                ng-checked="currUser.filter.isOnline"
                ng-click="currUser.filter.isOnline = !currUser.filter.isOnline">
            <span translate>Online only</span>
        </ion-checkbox>

        <ion-checkbox
                ng-checked="currUser.filter.isNewMember"
                ng-click="currUser.filter.isNewMember = !currUser.filter.isNewMember">
            <span translate>New members</span>
        </ion-checkbox>

        <div class="item item-divider" translate>Sex</div>
        <ion-checkbox
                ng-repeat="type in genders"
                ng-checked="currUser.filter.gender.indexOf(type) > -1"
                ng-click="currUser.filter.gender.toggleElement(type)">
            {{type | translateProfileVal:'gender'}}
        </ion-checkbox>

        <div class="item item-divider" translate>Age</div>
        <label class="item item-input item-select">
            <span class="input-label" translate>from</span>
            <select ng-model="currUser.filter.ageMin">
                <option
                        ng-repeat="i in ages"
                        ng-hide="i > currUser.filter.ageMax"
                        ng-selected="currUser.filter.ageMin == i"
                        value="{{i}}">
                    {{i}}
                </option>
            </select>
        </label>

        <label class="item item-input item-select">
            <span class="input-label" translate>to</span>
            <select ng-model="currUser.filter.ageMax">
                <option
                        ng-repeat="i in ages"
                        ng-hide="i < currUser.filter.ageMin"
                        ng-selected="currUser.filter.ageMax == i"
                        value="{{i}}">
                    {{i}}
                </option>
            </select>
        </label>

        <div class="item item-divider" translate>Location</div>
        <label class="item item-input item-select">
            <span class="input-label" translate>Country</span>
            <select
                    ng-model="currUser.filter.country"
                    ng-options="country.id as country.label for country in countries">
            </select>
        </label>

        <div class="item item-input-inset item-button-right">
            <span class="input-label" translate>City</span>
            <input type="text" name="city" ng-model="currUser.filter.city" disabled />
            <button type="button" class="button button-small button-positive" ng-click="cityPicker.show()" translate>
                Change
            </button>
        </div>
    </div>
</ion-content>