<ion-view>
    <ion-nav-title translate>Want to...</ion-nav-title>
    <ion-content>
        <div class="row row-wrap user-actions">
            <div class="col col-50">
                <button ng-click="user.isFriend ? user.isFriend = false : sendFriendInvite()" ng-disabled="user.isInvitedToFriends">
                    <i class="icon ion-person"></i>
                    <span ng-if="user.isFriend" translate>Remove from friends</span>
                    <span ng-if="!user.isFriend" translate>Add friend</span>
                    <span ng-if="user.isInvitedToFriends" class="royal" translate>Invite sent</span>
                </button>
            </div>

            <div class="col col-50">
                <button ng-click="showGifts()">
                    <i class="icon ion-trophy"></i>
                    <span translate>Send him a gift</span>
                </button>
            </div>

            <div class="col col-50">
                <button ng-click="user.isFavorite = !user.isFavorite">
                    <i class="icon ion-star"></i>
                    <span ng-if="user.isFavorite" translate>Remove from favorites</span>
                    <span ng-if="!user.isFavorite" translate>Add To Favorites</span>
                </button>
            </div>

            <div class="col col-50">
                <button ng-click="inviteDuel()" ng-disabled="user.invitedToDuel">
                    <i class="icon ion-podium"></i>
                    <span translate>Kviesti i dvikova</span>
                    <span ng-if="user.invitedToDuel" class="royal" translate>Invite sent</span>
                </button>
            </div>
        </div>
        <div class="padding">
            <button
                    class="button button-block"
                    ng-class="{'button-assertive': !user.isBlocked}"
                    ng-click="user.isBlocked = !user.isBlocked">
                <span ng-if="user.isBlocked" translate>Unblock User</span>
                <span ng-if="!user.isBlocked" translate>Add to BlackList</span>
            </button>
        </div>
    </ion-content>
</ion-view>