<ion-view view-title="{{title || 'People'}}">
    <ion-nav-buttons side="right">
        <button class="button" ng-if="filter" ng-click="showFilter()"><i class="icon ion-search"></i></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row row-wrap">
            <a ng-repeat="user in users" href="#/users/{{user.id}}" class="col col-25">
                <img src="{{user.profilePhotoURL}}">
            </a>
        </div>
        <ion-infinite-scroll
                ng-if="users.moreAvailable"
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>