@mixin radial-gradient($from, $to) {
  background-image: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
  background-image: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background-image: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background-image: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background-image: radial-gradient(center, circle cover, $from 0%, $to 100%);
}

@mixin line-clamp($lines) {
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
}

@mixin display-box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
}

@mixin box-orient($orient) {
  -moz-box-orient: $orient;
  -webkit-box-orient: $orient;
  box-orient: $orient;
}

@mixin blur($amount) {
  -webkit-filter: blur($amount);
  -moz-filter: blur($amount);
  -o-filter: blur($amount);
  -ms-filter: blur($amount);
  filter: blur($amount);
}

// $max-height - max-height property value. required
// parameter to limit text in non-webkit browser.
// Be careful with overriding properties.
// Strongly recommended to include this mixin after all properties
// to prevent overriding of display property:
// .my block {
//   display: block;
//   ...
//   @include ellipsis(2em, 2);
// }
// Example of usage:
// @include ellipsis(2em, 2);
@mixin ellipsis ($max-height, $lines: 2) {
  overflow: hidden;
  max-height: $max-height;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}