@mixin radial-gradient($from, $to) {
  background-image: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
  background-image: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background-image: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background-image: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background-image: radial-gradient(center, circle cover, $from 0%, $to 100%);
}

.row-wrap {
  @include flex-wrap(wrap);

  .col > img {
    width: 100%;
  }
}

ul.chat {
  .message {
    padding: 10px;
    margin: 5px;
    background-color: $calm;
    @include border-radius(5px);
    max-width: 50%;
    clear: both;

    .status {
      font-size: 85%;
      font-weight: 300;
      color: lighten(black, 25%);
    }

    &.mine {
      background-color: $stable;
      text-align: right;
      float: right;
    }

    &.failed {
      background-color: $assertive;
    }
  }
}

.item-conversation .ion-reply {
  margin-right: 5px;
}

.bar-main-nav {
  > a {
    color: white;

    > img {
      width: 32px;
      height: 32px;
    }
  }
}

.profile {
  @include display-flex();
  @include flex-direction(column);

  > .photos {
    position: relative;
    background-color: #656D7D;
    @include radial-gradient(#656D7D, #1B1D24);
    @include flex(1, 0, auto);

    .slider {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      .slider-slides {
        .slider-slide {
          > img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .overlay {
      position: absolute;
      left: 0;
      width: 100%;
      z-index: 10;
      color: white;
      min-height: 20px;
      padding: 10px;
      @include transition(0.15s linear all);

      &.ng-hide {
        display: block !important;
        opacity: 0;
      }

      &.top {
        top: 0;
      }

      &.bottom {
        bottom: 0;
      }

      .about {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        display: box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        box-orient: vertical;
      }
    }
  }

  > .tabs {
    position: static;
    @include flex(0, 0, auto);
  }

  > .tabs-content {
    @include transition(flex-grow 400ms ease-out);
    flex-grow: 0.001;

    &.open {
      flex-grow: 50;
    }
  }
}