.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

span {
  &.text {
    color: $text;
  }

  &.text-dark {
    color: $text-dark;
  }
}
.pane, .view {
  background-color:$light;
}

.logo {
  height: 50px;
}

option[disabled] {
  display: none;
}

file-upload {
  position: relative;
  overflow: hidden;

  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    -webkit-transform: translate(-300px, 0) scale(4);
    -ms-transform: translate(-300px, 0) scale(4);
    -o-transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
  }
}

.item-button-right input[disabled] + .button-small {
  font-size: .85em;
  top: 11px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  line-height: 16px;
}
.item-brand {
  background:$brand;
}

.center-vertical {
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(center);
}
.credits {
  h4 {
    color: $text-dark;
    font-weight: normal;
  }
}

.item-input.item-select {
  .input-value {
    margin-left: auto;
    padding: 0 48px 0 16px;
    max-width: 65%;
    text-indent: .01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    direction: rtl;
  }
}


.menu {
  .scroll-content {
    top:70px;
  }
}

.menu.menu-brand {
  .item-select:after {
    color: $brand-dark;
  }

  &, .input-label, .item, .item-content, select {
    color: $brand-light;
    font-weight:500;
  }

  &, select, > .view-container > .pane {
    background-color: $brand;
  }

  ion-list, .list {
    .item, .item-content {
      @extend .item-brand;
      border:none;
      a {
        padding-left: 25px;
      }
    }
    .item.active > a {
      background: $brand-dark;
      color: $light;
      padding-left: 20px;
    }
    .item.active {
      border-left: 5px solid $light;
    }

    .item.item-divider {
      background-color: $brand-dark;
      color: $light;
    }
  }
}

.item-divider .button {
  min-height: auto;
  top: 5px;
  min-width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.menu .item-content > .icon {
  font-size: 20px;
  margin-right: 10px;
}

.input-label .validation {
  @extend .assertive;
  white-space: normal;
}

.item.item-flex {
  @include display-flex();

  > *:not(:first-child) {
    margin-left: 10px;
  }

  button[type="submit"] {
    width: 100%;
  }
}

.item-input-with-action {

  > div {
    flex: 1;
    padding-right: 10px;
  }

  .status {
    text-align: center;
    white-space: normal;

    > label {
      font-size: 0.95em;

      + button {
        margin-top: 5px;
      }
    }
  }

  button {
    @extend .button;
    @extend .button-small;
    @extend .button-outline;
    @extend .button-block;
  }
}

.validation-errors {
  color: $assertive;
}

.item-stacked-label-padded {
  @extend .item-stacked-label;
  padding-right: 16px;
}

.item-stacked-label .input-label .validation {
  min-width: 200px;
  white-space: normal;
}

.item.disabled, .item[disabled] {
  @extend .tab-item.disabled;
}

.center-vertical-margin {
  margin-top: 30%;
  margin-bottom: 30%;
}

resource-collection {
  display: block;
}

.center-vertical-disabled .overlay.center {
  margin-top: 0 !important;
  padding: 10px 20px;
}

#file-picker {
  display: none;
}

.overlay.center {
  text-align: center;
}

.error-sign {
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  max-width: 75%;

  &.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .icon {
    display: block;
    margin-top: 10px;

    &::before {
      font-size: 3em;
    }
  }
}

.button.gift {
  margin: 10px 0 0 15px;
  width: 27%;
  min-height:120px;
}

.button-upload {
  position: relative;
  overflow: hidden;

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 999;
  }
}

.row-wrap {
  @include flex-wrap(wrap);

  .col > img {
    width: 100%;
  }
}

a.embed {
  text-decoration: none;
}

.title {
  color: $gray;
  font-size: $font-size-small;
  font-weight: bold;
}

.list.list-details {
  .item {
    label {
      @extend .title;
      @extend .input-label;
    }

    > span {
      flex: 1;
      padding-right: 5px;
      white-space: normal;
    }
  }
}

.all-caps {
  text-transform: uppercase;
}

.list .item.item-nav-view-container {
  padding: 0;

  .view-container {
    position: static;

    .pane {
      position: static;

      .scroll-content {
        position: static;
      }
    }
  }
}

.thumb {
  display: inline-block;
  position: relative;
  width: 82px;
  height: 82px;
  padding: 5px;

  > img {
    min-height: 100%;
    width: 100%;
    background: $stable;
  }

  & > span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: .7em;
  }
}

//.row.row-wrap {
//  position: relative;
//
//  .thumb {
//    height: auto;
//    position: absolute;
//    transition: all .5s ease-in-out;
//
//    @for $i from 0 to 50 {
//      &:nth-child(#{$i}) {
//        $posHorizontal: ($i - 1) % 4;
//        $posVertical: floor(($i - 1) / 4);
//        @include translate3d(100% * $posHorizontal, 100% * $posVertical, 0);
//      }
//    }
//  }
//}

img.framed {
  max-width: 6em;
  border: 2px solid white;
  margin: 5px 0 0 5px;
  vertical-align: top;
  @include box-shadow(0 0 5px black);
}

ul.chat {
  .message {
    @extend .item.item-dark;
    padding: 10px;
    margin: 5px;
    @include border-radius(10px);
    max-width: 50%;
    clear: both;

    .status {
      font-size: 85%;
      font-weight: 300;
      color: darken(white, 25%);
    }

    &.mine {
      @extend .item.item-stable;
      text-align: right;
      float: right;

      .status {
        color: lighten(black, 25%);
      }
    }

    &.failed {
      background-color: $assertive;
    }
  }
}

.item p.wrap {
  white-space: normal;
}

.item-notification .icon {
  font-size: 2em;
  float: left;
  margin-right: 10px;
  @extend .ion-person;
}

.item-notification.notification-commentWallPost .icon {
  @extend .ion-reply;
}

.item-conversation .ion-reply {
  margin-right: 5px;
}

/*.item-input {
   padding: 20px 16px 0 16px;
 }
.item-input.item-select {
  padding: 5px;
}*/

.bar-main-nav {
  height:70px;

  > a {
    width: 100%;
    color: white;
    text-decoration: initial;
    position: relative;
    margin:10px;
    font-size: 16px;
    font-weight:600;

    > img {
      width: 40px;
      height: 40px;
      vertical-align: middle;
      margin-right: 5px;
    }

    > i {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      margin-right: 5px;
      font-size: 25px;
    }
  }
}

.user-actions .col > button {
  @extend .button;
  @extend .button-block;
  padding: 25px 10px;
  line-height: 22px;
  min-height: 160px;

  .icon {
    display: block;
    vertical-align: baseline;

    &::before {
      font-size: 3em;
    }
  }
}

.button {
  font-weight: bold;
  @include border-radius(5px);

  &.button-transparent {
    border-color: #111;
    background: rgba(0, 0, 0, 0.5);
    color: $light;
  }

  &.button-close {
    background: none;
    color: $light;
    padding: 0;

    &.activated {
      background: none;
    }
  }
}

.header-item.buttons .button .badge {
  top: -20px;
  left: 15px;
}

i.online {
  display: inline-block;
  width: .5em;
  height: .5em;
  @include border-radius(.5em);
  background: $positive;
}

ion-header-bar .buttons .avatar {
  max-width: 35px;
  max-height: 35px;
  width: 100%;
  height: 100%;
  @include border-radius(50%);
}

.bar.bar-height-auto {
  height: auto;

  >.bar-content {
    flex: 1;
  }
}

.popup-container.popup-width-auto .popup {
  width: auto;
}

.connection-status {
  background: $assertive;
  color: $light;
  text-align: center;

  span {
    width: 100%;
  }
}

img.img-circle {
  @include border-radius(50%);
}

.bar.bar-brand {
  background:$brand;
  border: 1px solid $brand-dark;

  .title {
    color:$light;
  }
  .button-clear {
    color:$light;
  }
  .button {
    background:$brand;
    border:none;
    color:$light;
  }
}
.badge.badge-brand {
  background: $light;
  color:$brand;
  right:20px;
}

.checkbox input:checked+.checkbox-icon:before, .checkbox input:checked:before {
  background: $brand-light;
  border-color: $brand-light;
}

.tabs {
  padding-top: 0;
}
.tab-title {
  text-transform: uppercase;
}
.tabs-light>.tabs {
  color: $brand;
  border: none;
  -webkit-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.1);
}
.tabs-striped.tabs-light .tab-item {
  color: $brand-light;
}
.tabs-striped.tabs-light .tab-item.tab-item-active {
  color: $brand;
  border-color: $brand;
}
.tab-item.tab-item-active {
  border-top: 1px $brand solid;
  i {
    font-size: 24px;
    line-height: 40px;
  }
}
.tab-item:not(.tab-item-active) {
  border-top: 1px $light solid;
  opacity: .5;
  i {
    font-size: 24px;
    line-height: 40px;
  }
}


@import "wall.scss";
@import "landing.scss";
@import "settings.scss";
@import "quickie.scss";
@import "profile.scss";
@import "users.scss";
