/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$gray: #999;
$dark: #444;
$positive: #62AC34;
$stable: #f8f8f8;
$light: #fff;
$assertive: #FB0139;

$text: #999;
$text-dark: #737373;